# Arquivos de ambiente virtual
env/
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs/editores
.vscode/
.idea/

# Arquivos de log
*.log

# Dependências instaladas (se aplicável)
node_modules/

# Arquivos de configuração de ambiente
.env

/instance/

# ignorar client secret
client_secret.json