alembic==1.14.0
Flask==3.1.0
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
google_auth_oauthlib==1.2.1
openai==1.63.0
protobuf==5.29.3
PyPDF2==3.0.1
python-dotenv==1.0.1
SQLAlchemy==2.0.36
Werkzeug==3.1.3
