{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block title_navbar %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-content">
    <h2>Bem-vindo, {{ user.name }}!</h2>

    {% if user.role == 'admin' %}

    <a href="{{ url_for('admin.users') }}">
        <button>Usuarios</button>
    </a>

    <a href="{{ url_for('admin.locker_availability') }}">
        <button>Disponibilidade de Armarios</button>
    </a>

    <a href="{{ url_for('admin.configure') }}">
        <button>Configuração</button>
    </a>
    {% endif %}

</div>
{% endblock %}
