{% extends "base.html" %}

{% block title %}Perfil do Usuário{% endblock %}

{% block title_navbar %}Perfil{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <h2 class="profile-title">Perfil do Usuário</h2>
        <div class="profile-info">
            <p><strong>Nome:</strong> {{ user.name }}</p>
            <p><strong>Tipo:</strong> {{ user.role }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="profile-actions">
            <a href="{{ url_for('files.extract_from_file') }}" class="profile-button">Preencher Perfil</a>
        </div>
    </div>
</div>
{% endblock %}
