{% extends "base.html" %}

{% block title %}Perfil do Usuário{% endblock %}

{% block title_navbar %}Perfil{% endblock %}

{% block content %}
<div class="perfil">
    <h2>Perfil do Usuário</h2>
    <p><strong>Nome:</strong> {{ user.name }}</p>
    <p><strong>Tipo:</strong> {{ user.role }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
</div>


<!-- Botão para a tela de extração de arquivos -->
<div class="file-extraction">
    <a href="{{ url_for('files.extract_from_file') }}" class="button-normal">Preencher perfil</a>
</div>


{% endblock %}
