{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_navbar %}{{ title }}{% endblock %}

{% block content %}
<div class="upload-container">
    <h2 class="upload-title">{{ title }}</h2>
    <form action="{{ action }}" method="POST" enctype="multipart/form-data" class="upload-form">
        <label for="file" class="file-label">Escolha um arquivo:</label>
        <input type="file" id="file" name="file" class="file-input" required>
        <button type="submit" class="submit-button">Enviar</button>
    </form>
</div>
{% endblock %}
