{% extends "base.html" %}

{% block title %}Configuração de Banco de Dados{% endblock %}
{% block title_navbar %}Configuração de Banco de Dados{% endblock %}

{% block content %}
    <h1>Configuração de Banco de Dados</h1>
    <p>
        Esta tela permite que você envie um arquivo JSON contendo as configurações necessárias para 
        configurar o banco de dados. O arquivo JSON deve seguir o formato adequado para garantir 
        que as configurações sejam aplicadas corretamente.
    </p>
    <p>
        Por favor, selecione o arquivo JSON e clique em "Enviar" para aplicar as configurações.
    </p>
    
    <form action="{{ url_for('admin.configure') }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="json_file">Selecione o arquivo JSON:</label>
        </div>
        <div>
            <input type="file" id="json_file" name="json_file" accept=".json" required>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
{% endblock %}
