{% extends "base.html" %}

{% block title %}Meu Armário{% endblock %}
{% block title_navbar %}Meu Armário{% endblock %}

{% block content %}
<div class="locker-details-container">
    {% if reservation %}
        <h2 class="title">Detalhes da Reserva</h2>
        <div class="reservation-card">
            <p><strong>ID da Reserva:</strong> {{ reservation.id }}</p>
            <p><strong>ID do Armário:</strong> {{ reservation.locker.id }}</p>
            <p><strong>Data de Início:</strong> {{ reservation.start_date }}</p>
            <p><strong>Data de Término:</strong> {{ reservation.end_date }}</p>
        </div>

        <h2 class="title">Informações do Armário</h2>
        <div class="locker-info-card">
            <p><strong>Número:</strong> {{ reservation.locker.number }}</p>
            <p><strong>Status:</strong> {{ reservation.locker.status }}</p>
            <p><strong>Localidade:</strong> {{ reservation.locker.location.name }}</p>
        </div>
    {% else %}
        <p class="no-reservation-message">{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
